* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(0, lightblue, darkblue);
  background-repeat: no-repeat;
  font-family: "Libre Franklin", sans-serif;
}
